h1{
    color:rgb(0, 255, 55);
    background-color: rgb(98, 0, 255);
    
}
h2{
    color : rgb(207, 19, 19);
    background-color: rgb(224, 8, 91);
    
}
h3{
    color : rgb(8, 23, 228);
    background-color: rgb(249, 253, 16);
    
}